
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo-image {
    height: 101px;
    width: 120px;
}